<h3>Bonjour {{ username }}, </h3>


<p> Nous avons le plaisir de confirmer votre inscription sur le site d'O'Dience et nous sommes heureux de vous compter parmis les entreprises qui nous font confiance</p>
<p> Vous pouvez dès a présent profiter des services proposés sur notre site </p>


<p>A très bientôt, <br>
L'équipe O'Dience</p>
