<h3>Bonjour, </h3>


<p> Nous avons le plaisir de confirmer ton inscription sur le site d'O'Dience et nous sommes heureux de te compter parmis nos utilisateurs.</p>
<p> Tu peux dès a présent profiter des services proposés sur notre site </p>


<p>A très bientôt, <br>
L'équipe O'Dience</p>
