<footer class="app__footer">
		<div class="bottom section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="copyright">
							<p>© <span>2020</span> <a href="{{path('contact')}}" class="transition">Team O'Dience</a> All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</footer>