{% extends 'base.html.twig' %}

{% block body %}

<div class="container-md ">
	

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary" type="submit">Valider</button>
{{ form_end(form) }}
</div>
{% endblock %}
