<form method="post" action="{{ path('announcement_delete', {'id': announcement.id}) }}" onsubmit="return confirm('Souhaitez-vous vraiment supprimer cette annonce?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ announcement.id) }}">
    <button class="btn">Supprimer l'annonce</button>
</form>
