{% extends 'base.html.twig' %}

{% block title %}Edit Announcement{% endblock %}

{% block body %}
    <h1>Edit Announcement</h1>

    {{ include('announcement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('announcement_index') }}">back to list</a>

    {{ include('announcement/_delete_form.html.twig') }}
{% endblock %}
