{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Publier une annonce {% endblock %}

{% block body %}


    {{ include('announcement/_form.html.twig') }}

    
</div>
{% endblock %}
