body {
  background-image: url('../images/background.jpg');
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Balsamiq Sans', cursive;
}

.main__card {
  margin-top: 20vh;
}

.user-card {
  max-width: 31.25rem;
}

.homepage__main__div {
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.10);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 3);
  color: white;
}

.homepage__main__div--influencer {
  color: #17A2B8;
}

.homepage__main__div--brand {
  color: #DA3343;
}
body .bg-dark{
  background-color: #424242!important;;
}

.bg-info .brand__label {
  font-family: 'Balsamiq Sans', cursive!important;
  color: rgb(182, 41, 41)!important;
}

.bg-info .nav-item .nav-link{
  color: white!important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px!important;
}

.bg-dark .brand__label {
  font-family: 'Balsamiq Sans', cursive!important;
  color: rgb(182, 41, 41)!important;
}

.bg-dark .nav-item .nav-link{
  color: white!important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px!important;
}