{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - Influenceurs
{% endblock %}

{% block body %}

<div class="d-flex justify-content-between align-items-start mt-5">
    <h1>Influenceurs</h1>
</div>

<div class="mt-5">
    <div class="list-group">
        {% for influencer in users %}
        <a href="" class="list-group-item list-group-item-action">
            {{ influencer.username }}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}