{% extends 'layouts/dashboard.html.twig' %}

{% block content %}

    <div class="profile-content rounded">
        <article class="card-body mx-auto bg-light rounded" style="max-width: 400px;">
	    <h4 class="card-title mt-3 text-center">Modifier un réseau</h4>
	    {{ form_start(form) }}
            <div class="form-group input-group">
    	        <div class="input-group-prepend">
		            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
		        </div>
		        {{ form_widget(form.social) }}
	        </div> 
            <div class="form-group input-group">
		        <div class="input-group-prepend">
		            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		        </div>
                {{ form_widget(form.link) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Valider</button>
            </div>   
            {{ form_end(form) }}
        </article>
    </div>

{% endblock %}
