{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Edition du profil{% endblock %}

{% block body %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" type="submit">Valider</button>
{{ form_end(form) }}
{% endblock %}