{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Annonces postées par {{ brand.username }}{% endblock %}

{% block body %}
<ul>
{% for announcement in announcements %}
    <li>
        <h1>
            {{ announcement.title }}
        </h1>
        <p>
            {{ announcement.content }}
        </p>
    </li>
{% endfor %}
</ul>
{% endblock %}