{% if ('default' in user.picture or user.description is empty or user.userSocials | length == 0 ) %}

<h2 class="text-center mt-1 mb-3"> Bienvenue chez O'dience, {{user.username}} ! </h2>

{% endif %}


<div class="border_profil" >

<div class="missing_info">
<h4 class="text-center"> N'oubliez pas de compléter votre profil !</h4>



{% if 'default' in user.picture %}

<p>Selon une étude, 95% des utilisateurs ayant changé leur photo de profil nagent dans le bonheur. 
C'est totalement faux, mais vous serez peut être parmis le premier ! </p>

{% endif %}

{% if user.description is empty %}

<p>Envie de partager quelques détails sur votre activité, les valeurs qui vous tiennent à coeur? Tout ça c'est dans votre présentation.  </p>

{% endif %}

{% if  user.userSocials| length == 0 %}

<p> Penses à rajouter tes réseaux sociaux :)  </p>

{% endif %}
</div>
</div>